blessings==1.6
blinker==1.4
bpython==0.15
cffi==1.7.0
click==6.6
coverage==4.2
cryptography==1.4
curtsies==0.2.6
CVXcanon==0.1.0
cvxopt==1.2.7
cvxpy==0.4.2
cycler==0.10.0
dill==0.2.5
ecos==2.0.4
enum34==1.1.6
fastcache==1.0.2
Flask==0.11.1
Flask-DebugToolbar==0.10.0
Flask-SQLAlchemy==2.1
googlefinance==0.7
greenlet==0.4.10
idna==2.1
ipaddress==1.0.16
itsdangerous==0.24
Jinja==1.2
Jinja2==2.8
MarkupSafe==0.23
matplotlib==1.5.2
multiprocess==0.70.4
ndg-httpsclient==0.4.2
numpy==1.11.1
pandas==0.18.1
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
Pygments==2.1.3
pyOpenSSL==16.0.0
pyparsing==2.1.8
python-dateutil==2.5.3
python-utils==2.0.0
pytz==2016.6.1
requests==2.10.0
scipy==0.18.0
scs==1.2.6
simplejson==3.8.2
six==1.10.0
SQLAlchemy==1.0.14
toolz==0.8.0
urllib3==1.16
utils==0.9.0
wcwidth==0.1.7
Werkzeug==0.11.10
yahoo-finance==1.2.1
yql==1.0.1
