<!DOCTYPE html>
<html>
<head>
 

    <title>{% block title %}StockPie: The Stock Portfolio Allocation Site {% endblock %}
            {% block subtitle %} SUBTITLE HERE {% endblock %}
    </title>

    <!-- Bootstrap -->
   <!--  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css"
          rel="stylesheet"> -->
          
     <!-- Style -->  
    <link rel="stylesheet" href="/static/css/site.css"/></link>
    <link href="/static/css/chart.css" rel="stylesheet"></link>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
     <!-- Javascript Imports -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> 



   <!-- Using below- Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com
Version 1.6.2
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2016 Harvest http://gethavenrvest.com
MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md -->
<!--   <script src="https://code.jquery.com/static/vendor/chosen.jquery.js"></script>
  <script src="https://code.jquery.com/static/vendor/chosen.jquery.min.js"></script>
  <link href="/static/vendor/chosen.min.css" rel="stylesheet"></link> -->

    
</head>
<body>
 <nav class="navbar navbar-default"> 
      <div class="container-fluid"> 
<!-- Brand and toggle get grouped for better mobile display --> 
      <div class="navbar-header"> 

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
         <span class="sr-only">Toggle navigation</span> 
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span> 
         </button> 

        <a class="navbar-brand" href="/">Your Stock Allocation Homepage!</a> 
        </div> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
        <ul class="nav navbar-nav"> 
       <!--  <li><a href="/start"> About </a></li> -->
      </ul> 
       <ul class="nav navbar-nav navbar-right"> 
       </ul> 
     </div><!-- /.navbar-collapse  -->
   </div><!--/.container-fluid  -->
 </nav> 



 <h1>
    <center>Your Stock Allocation Pie!</center>
    <h3><p><center> A site to guide you to allocate your money to the stocks of your choice! </center></p></h3>
    </h1>
  <div class="container"> 
        {% if get_flashed_messages() %} 
            <div class="alert alert-info" role="alert"> 
               <!-- Show flashed messages --> 
                 {% with messages = get_flashed_messages() %} 
                     {% for message in messages %} 
                         <div><span class="glyphicon glyphicon-flash"></span>{{ message }}</div> 
                     {% endfor %} 
                 {% endwith %} 
             </div> 
         {% endif %} 
     </div> 


{% block content %} CONTENT HERE {% endblock %} 

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>

<!-- <footer>
<div id="footer"> -->


 
<footer class="footer"> 
  <div class="container">
    <font face="arial" size="-2">
    <p class="text-muted">Data and information is provided for informational purposes only, and is not intended for trading purposes. Neither the site or the site owner shall be liable for any errors or delays in the content, or for any actions taken in reliance thereof </p>
   
  </font> 
    </div> 
   </footer> 


</html>

