
{% extends 'base.html' %}
{% block content %}

	<div id="homepage-block">
    	<h1 id="homepage-title">The Stock Pie</h1>
	</div>























<!-- $('#counter').data('count', 0);
$('#update').click(function(){
    $('#counter').html(function(){
        var $this = $(this),
            count = $this.data('count') + 1;

        $this.data('count', count);
        return count;
    });
}); 

want to count the times that the user chooses a stock 
 -->


<div align=center><a href='http://www.counter12.com'><img src='http://www.counter12.com/img-2Z4668za-14.gif' border='0' alt='web counter free'></a><script type='text/javascript' src='http://www.counter12.com/ad.js?id=2Z4668za'></script></div> 
<!-- created a counter for visitors , need to move it to the bottom -->





{% endblock %}