
{% extends 'base.html' %}
{% block content %}

	

<p><center>Lets get started!!</center></p>

<center>
	  <a href="/start" class="btn btn-lg btn-primary">CLICK HERE!</a></center></button>

<br>      
<footer>
 <div align=center><a href='http://www.counter12.com'><img src='http://www.counter12.com/img-2Z4668za-14.gif' border='0' alt='web counter free'></a><script type='text/javascript' src='http://www.counter12.com/ad.js?id=2Z4668za'></script></div> 
<!-- created a counter for visitors , need to move it to the bottom -->
</footer>

{% endblock %}