<!DOCTYPE html>
<html>
<head>

       <title>The Stock Chart</title>
       <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js">
  </script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="/static/css/chart.css" rel="stylesheet"></link>
</head>
<body>
    <h2><center> Stock Pie </center> </h2>
 <!--Div that will hold the pie chart-->
<div class="stock-chart">
<canvas id="donutChart"></canvas></div>
<!-- <div id="donutLegend" class="chart-legend"></div> -->


    <script>
    /*$("document").ready(function()*/
    var options = {
      responsive: true,

      /*Solution below was received from github issues- https://github.com/chartjs/Chart.js/issues/777
      http://blog.cryst.co.uk/2016/06/03/adding-percentages-chart-js-pie-chart-tooltips/*/
      tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var allData = data.datasets[tooltipItem.datasetIndex].data;
                    var tooltipLabel = data.labels[tooltipItem.index];
                    var tooltipData = allData[tooltipItem.index];
                    var total = 0;
                    for (var i in allData) {
                        total += allData[i];
                    }
                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
                    return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                }}} 
     
    };

    // Make Donut Chart of percent of different types of Melons
    var ctx_donut = $("#donutChart").get(0).getContext("2d");
      $.get("/final.json", function (data) { console.log(data)
        console.log(ctx_donut)
          var myDonutChart = new Chart(ctx_donut, {
      type: 'doughnut',
      data: data,
      options: options
      }); console.log(myDonutChart)
          $('#donutLegend').html(myDonutChart.generateLegend());
           });
    


    
    </script>

</body>
</html>